name: Dart
on:
  pull_request:
    paths:
      - ".github/workflows/dart.yaml"
      - "dart/**"

# Prevent duplicate runs due to Graphite
# https://graphite.dev/docs/troubleshooting#why-are-my-actions-running-twice
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}-${{ github.ref == 'refs/heads/main' && github.sha || ''}}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-14
          - windows-latest
    runs-on: ${{ matrix.os }}
    # TODO(dnys1): Speed up Rust builds
    timeout-minutes: 15
    steps:
      - name: Git Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # 4.1.5
        with:
          submodules: true
      - name: Setup Dart
        uses: dart-lang/setup-dart@f0ead981b4d9a35b37f30d36160575d60931ec30 # main
      - name: Get Packages
        working-directory: dart
        run: dart pub get
      - name: Test
        working-directory: dart
        run: dart --enable-experiment=native-assets test --fail-fast
